<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <activity
            android:name=".Lab13_14.m000_frg_login.MainActivityBuoi5"
            android:exported="false" />
        <activity
            android:name=".Lab10_11.M002DetailActivity"
            android:exported="false" />
        <activity
            android:name=".Lab10_11.M001MenuActivity"
            android:exported="false" />
        <activity
            android:name=".Lab6.DoiDoDaiActivity"
            android:exported="false" />
        <activity
            android:name=".Lab6.DoiTienTeActivity"
            android:exported="false" />
        <activity
            android:name=".Lab3.M003ScreenDocTruyen"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Lab3.M002ScreenDanhSachTruyen"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Lab3.M000SplashFrg"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Lab3.TruyenCuoiActivity"
            android:exported="false" />
        <activity
            android:name=".Lab2.BaiTap2Lab2Activity"
            android:exported="false" />
        <activity
            android:name=".Lab2.BaiTap1Lab2Activity"
            android:exported="false" />
        <activity
            android:name=".Lab1.BaiTap3Lab1Activity"
            android:exported="false" />
        <activity
            android:name=".Lab1.BaiTap2Lab1Activity"
            android:exported="false" />
        <activity
            android:name=".Lab1.BaiTap1Lab1Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>